@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = null; 
}


<div class="row" style="justify-content:center;display:flex">
    <div class="col-md-12">
        <h2>you dont have access to this action </h2>
    </div>
</div>